body {
  font-family: 'Space Mono', monospace;
  /* line-height: 1.6; */
  background: white;
  color: lightcoral;
  margin: 0 auto; 
  padding: 0;
}
.entry-text-box {
    width: 100%;
    height: 20em;
    margin: 1em auto;
    padding: 1em;
    border-radius: 2px;
    border: unset;
    background-color: lightgoldenrodyellow;
    font-family: 'Space Mono', monospace;
  }

  @media (min-width: 769px) {
    .entry-text-box {
      width: 40em;
      height: 20em;
      margin: 1em auto;
      padding: 1em;
      border-radius: 2px;
      border: unset;
      background-color: lightgoldenrodyellow;
      font-family: 'Space Mono', monospace;
    }
  }
  
  .entry-text-box:focus {
    outline-color: lightcoral;
    font-family: 'Space Mono', monospace;
    color: lightcoral;
    font-size: 1rem;
  }
  
  .entry-text-box::placeholder {
    color: lightcoral;
    font-family: 'Space Mono', monospace;
    font-size: 1rem;
  }

  .entry-submit-btn {
    margin: 0;
  }

  *,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}


/* Global Typography */

.title {
  color: black;
}


h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

form,
textarea {
  font-size: 1rem;
}

button {
  display: block;
  font-size: 1.2rem;
  padding: 0.5em 1em;
  border: none;
  background-color: aquamarine;
  color: #0a2472;
  font-family: 'Space Mono', monospace;
}


/* Button Standard */

.btn-main {
  display: block;
  padding: 0.6rem 2rem;
  transition: all 0.1s;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin: 0 auto; 
}

.btn-main {
  color: lightgoldenrodyellow;
  background-color: lightcoral;
}

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: lightgoldenrodyellow;
  color: lightcoral;
  font-weight: 700;
  transform: scale(1.08);
}